{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [broken_gen_test]}
]}.

{profiles, [
    {test, [
        {provider_hooks, [
            {pre, [
                {compile, {thrift, compile}},
                {clean, {thrift, clean}}
            ]}
        ]},
        {thrift_compiler_opts, [
            {in_dir, "test"},
            {in_files, ["test.thrift"]},
            {out_erl_dir, "test"},
            {out_hrl_dir, "test"},
            {gen, "erlang:app_prefix=test"}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.3.0"}}}
]}.
